PIR INSA 2023-2024-Georeferencing aircrafts for contrail tracking using ground-level observation - translated.pdf
PIR INSA 2023-2024-Georeferencing aircrafts for contrail tracking using ground-level observation.pdf
State of the art.pdf
